* {
	box-sizing: border-box;
}
body {
	background-color: #e6e6fa;
}
main {
	width: 95%;
	margin:10px auto;
}
.clear {
	clear: both;
}
header {
	position: relative;
}
header a {
	text-decoration: none;
}
.menu-header {
	display: inline-block;
	width: 100%;
	background-color: #ffffff;
	position: relative;
}
.menu-header .custom-select {
	float: left;
	margin-top: 15px;
}
.menu-header span {
	float: left;
	margin: 15px 10px auto 10px;
}
.menu-header img{
	height: 50px;
}
.menu-header-right {
	float: right;
	display: inline-block;
}
.icon {
	float: left;
	margin-right: 100px;
}
.icon img {
	height: 40px;
	margin-top: 5px;
}
.custom-select {
	width: 200px;
	margin-left: 10px;
}
.menu-header-right button {
	margin: 15px 10px auto 10px;
	color: #ffffff;
	background-color: #2292f9;
	width: 50px;
	border-radius: 5px;
}
input[type=text] {
	float: left;
	background-image: url('../images/search.png');
	background-repeat: no-repeat;
	background-size: 25px;
	padding-left: 40px;
	margin-top: 10px;
	height: 30px;
}
.button-header {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.btn-donate {
	color: #ffffff;
	background-color: #ff3d3d;
	border: none;
	border-radius: 8px;
	height: 30px;
}
.btn-join {
	color: #ffffff;
	background-color: #19a0f2;
	border: none;
	border-radius: 8px;
	height: 30px;
}
.btn-shop {
	color: #ffffff;
	background-color: #19f249;
	border: none;
	border-radius: 8px;
	height: 30px;
}
nav {
	margin-top: 20px;
}
.menu-1 ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
}
.menu-1 li {
	width: 10%;
	float: left;
	border-right: 1px solid #000000;
}
.menu-1 li a {
	display: block;
	color: #000000;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-weight: 500;
}
.menu-1 li a:hover {
	color: #000080;
	background-color: #c0c0c0;
}
.menu-2 ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #000080;
}
.menu-2 li {
	width: 12.5%;
	float: left;
	border-right: 1px solid #ffffff;
}
.menu-2 li a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-weight: 500;
}
.menu-2 li a:hover {
	color: #14e19e;
}
ul li:last-child {
	border: none;
}
.slide img {
	margin-top: 20px; 
	width: 100%;
}
.picture {
	display: flex;
	margin-top: 20px;
	background-color: #ffffff;
	width: 100%;
}
.picture-item {
	width: 25%;
	padding: 10px;
}
.picture-item img {
	width: 100%;
}
.content {
	display: flex;
	margin-top: 20px;
	padding: 10px;
	background-color: #ffffff;
}
.museum {
	width: 25%;
	margin-right:10px;
}
.museum img {
	width: 100%;
}
.museum ul li {
	color: #007bff;
}
.event {
	width: 25%;
	margin-right:10px;
}
.feature-event {
	list-style: none;
	padding-left: 10px;
}
.feature-event li p {
	font-size: small;
}
.popular {
	width: 25%;
	margin-right:10px;
}
.row-popular {
	display: flex;
	width: 100%;
}
.popular p {
	font-size: small;
}
.popular .pic {
	margin-right: 5px;
}
.popular .pic img {
	width: 100%;
}
.row-magazine {
	display: flex;
}
.row-magazine .image{
	width: 50%;
	margin-right: 10px;
}
.row-magazine img {
	width: 100%;
}

.magazine {
	width: 25%;
}
.connect .row {
	display: inline-block;
	width: 100%;
}
.connect .row img {
	width: 15%;
	margin-left:10px;
}
.picture a, .content a {
	text-decoration: none;
}
.picture a:hover, .content a:hover {
	text-decoration: underline;
}